
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.nokia.nokia_3_4.systemui"
        android:versionCode="1"
        android:versionName="1.0">


    <overlay android:targetPackage="com.android.systemui"
        android:requiredSystemPropertyName="ro.vendor.build.fingerprint"
        android:requiredSystemPropertyValue="+Nokia/DoctorStrange*"
        android:priority="333" />
</manifest>
